POLARIS_USERNAME=lasse@arcticmotor.no
POLARIS_PASSWORD=Lettmelk2234!
POLARIS_USER_ID=19026291

KELLOX_USERNAME=10120
KELLOX_PASSWORD=Delta1234!!!!

KTM_USERNAME=lasse.rendal@dealercc.com
KTM_PASSWORD=Passord1234!

# Google OAuth (Gmail API)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
